.allhome{
  overflow-y: hidden;
}

#stopscroll{
  height: 52vh !important;
  overflow-y: hidden;
}

.homeandlist {
  width: 100%;
  position: relative;
  right: 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}

.homecontainer {
  width: 75%;
  position: relative;
  right: 120px;
  margin: 80px auto 0;
}

@media screen and (max-width: 1020px) {
  .homecontainer {
    width: 90%;
    left: 0;
    right: 0;
    margin: 80px auto 0;
  }
}
