.imglink {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.imglink a {
  width: 49%;
}

.imglink a img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 5px 1px #ccc;
}

@media screen and (max-width: 600px) {
  .imglink {
    flex-direction: column;
  }

  .imglink a {
    width: 100%;
  }

  .homecontainer .imglink a img {
    border-radius: 15px;
  }
}
