
/*.lists::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }
  
  .lists::-webkit-scrollbar-thumb {
    background-color: #ff9928;
    width: 100%;
    border-radius: 10px;
  } */


ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul li {
  width: 100%;
  transition: all 0.2s ease;
}

ul li:hover {
  background-color: #efffef;
}

ul li img {
  width: 25px;
}

ul li a {
  padding: 8px 40px 8px 0;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  display: block;
}

ul li a span {
  color: red;
  font-size: 12px;
}

ul li a img {
  margin-bottom: -9px;
}

.ul_game {
  padding-top: 25px;
}

h4 {
  color: #688;
  font-size: 17px;
  text-align: right;
  margin: 10px 20px;
  font-weight: 700;
}

.ul_soon {
  padding-bottom: 30px;
}


.scrollist {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}

/* .scrollist::-webkit-scrollbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
} */

ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 16px;
  width: 100%;
  transition: all 0.2s ease;
}

ul li:hover {
  background-color: #efffef;
}

ul li img {
  width: 25px;
}

ul li a {
  padding: 8px 40px 8px 0;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

ul li a span {
  color: red;
  font-size: 14px;
}

ul li a img {
  margin-bottom: -9px;
}

.ul_game {
  padding-top: 25px;
}

h4 {
  color: #688;
  font-size: 18px;
  text-align: right;
  margin: 10px 20px;
  font-weight: 700;
}

.ul_soon {
  padding-bottom: 30px;
}

@media screen and (max-width: 420px) {

  ul li img {
    width: 17px;
  }

  ul li a {
    padding: 8px 40px 8px 0;
    font-size: 13px;
  }

  ul li a span {
    font-size: 11px;
  }

  h4 {
    font-size: 16px;
  }
}
