.slids {
  width: 100%;
  height: 250px;
  padding: 0;
}
.slids div {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 7px;
}
.slids div img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

@media screen and (max-width: 720px) {
  .slids {
    width: 100%;
    height: 200px;
  }

  .slids div img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
}

@media screen and (max-width: 650px) {
  .slids {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 480px) {
  .slids {
    width: 100%;
    height: 110px;
  }
}
