@font-face{
  font-family: 'IRsans';
  src: url(../font/IRAN\ Sans\ Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: IRsans;
  list-style: none;
}

body {
  direction: rtl;
  background-color: rgb(243 244 246);
  /* background-color: red; */
  overflow-x: hidden;
  height: 100vh;
}



section.body{
  height: 100vh;
  overflow-y: hidden;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 7px 1px #ded;
  width: 100%;
  height: 65px;
  z-index: 99;
  margin-bottom: 300px;
}

header .contentheader {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .contentheader .items {
  width: 240px;
  display: flex;
  align-items: center;
}
header .contentheader .items button {
  padding: 7px 8px 10px;
  background-color: #eff;
  font-size: 16px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: none;
}
header .contentheader .items button:hover {
  background-color: #ddd;
}
header .contentheader .items button img {
  width: 18px;
  margin-bottom: -5px;
}
header .contentheader .items a img {
  width: 130px;
  margin-bottom: -9px;
}

header .contentheader .items .fav {
  display: none;
}
header .contentheader .items .fav img {
  width: 40px;
  margin-bottom: -3px;
}

header .contentheader .search {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
header .contentheader .search form {
  width: 75%;
}
header .contentheader .search form input {
  width: 100%;
  border-radius: 30px;
  outline: none;
  padding: 6px 15px 6px 0;
  background-color: #f0f0f0;
  border: none;
  font-size: 20px;
  color: #959595;
}
header .contentheader .search form input::-webkit-input-placeholder {
  /* Edge */
  color: #aaa;
  font-size: 20px;
}
header .contentheader .search form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
  font-size: 20px;
}
header .contentheader .search form input::placeholder {
  color: #aaa;
  font-size: 20px;
}
header .contentheader .search button {
  background-color: #2196f3;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 37px;
  padding: 0 25px 1px;
  border-radius: 25px;
  margin-top: 2px;
}
header .contentheader .search button img {
  width: 18px;
  margin-bottom: -3px;
  margin-left: 7px;
}

header .contentheader .login {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}


header .contentheader .login .btnform {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: #dfefff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 5px;
  display: none;
}

header .contentheader .login .btnform img{
  margin-left: 0;
}


header .contentheader .login a {
  padding: 3px 15px 4px;
  text-decoration: none;
  background-color: #e0e0e0;
  color: #556;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
}

header .contentheader .login a img {
  width: 20px;
  margin-bottom: -7px;
  margin-right:10px;
}



/* /////////////////////////////////////////////////////////////// */


.homandlist{
  display: flex;
}





.lists{
  width: 230px;
  position: fixed;
  top: 65px;
  bottom: 0;
  right: 0;
  overflow: scroll;
  background-color: #fff;
  z-index: 8;
}

.lists::-webkit-scrollbar {
  width: 0px;
}

/*.lists::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

.lists::-webkit-scrollbar-thumb {
  background-color: #ff9928;
  width: 100%;
  border-radius: 10px;
} */

@keyframes comlist {
  from {right: -240px;}
  to {right: 0;}
}
@keyframes golist {
  from {right: 0px;}
  to {right: -240PX;}
}

.lists ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.lists ul li{
  font-size: 16px;
  width: 100%;
  transition: all .2s ease;
}

.lists ul li:hover{
  background-color: #efffef;
}

.lists ul li img{
  width: 25px;
}

.lists ul li a{
  padding: 8px 40px 8px 0;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.lists ul li a span{
  color: red;
  font-size: 14px;
}

.lists ul li a img{
  margin-bottom: -9px;
}

.lists .ul_game{
  padding-top: 25px;
}

.lists h4{
  color: #688;
  font-size: 18px;
  text-align: right;
  margin: 10px 20px;
  font-weight: 700;
}

.lists .ul_soon{
  padding-bottom: 30px;
}



/* ////////////////////////////////////////////////////////////////////// */



div.allhome{
  overflow-y: hidden;
  position: relative;
  height: 100Vh;
}



.shadow{
  background-color: rgba(120, 120, 120, 60%);
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  animation-name: combacklist;
  animation-duration: .2s;
}

@keyframes combacklist {
  from {right: -101%;}
  to {right: 0;}
}


section.golist{
  animation-name: golist;
  animation-duration: .6s;
}

@keyframes golist{
  from {right: 0px;}
  to {right: -240;}
}


#liststwo{
  width: 230px;
  position: fixed;
  top: 0px;
  bottom: 0;
  overflow: auto;
  background-color: #fff;
  animation-name: comlist;
  animation-duration: .6s;
  z-index: 999;
}

#liststwo .scrollist{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}


@keyframes comlist {
  from {right: -240px;}
  to {right: 0;}
}

#liststwo::-webkit-scrollbar {
  width: 5px;
}

/*.lists::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

.lists::-webkit-scrollbar-thumb {
  background-color: #ff9928;
  width: 100%;
  border-radius: 10px;
} */

@keyframes comlist {
  from {right: -240px;}
  to {right: 0;}
}
@keyframes golist {
  from {right: 0px;}
  to {right: -240PX;}
}

#liststwo ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#liststwo ul li{
  font-size: 16px;
  width: 100%;
  transition: all .2s ease;
}

#liststwo ul li:hover{
  background-color: #efffef;
}

#liststwo ul li img{
  width: 25px;
}

#liststwo ul li a{
  padding: 8px 40px 8px 0;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

#liststwo ul li a span{
  color: red;
  font-size: 14px;
}

#liststwo ul li a img{
  margin-bottom: -9px;
}

#liststwo .ul_game{
  padding-top: 25px;
}

#liststwo h4{
  color: #688;
  font-size: 18px;
  text-align: right;
  margin: 10px 20px;
  font-weight: 700;
}

#liststwo .ul_soon{
  padding-bottom: 30px;
}




/* /////////////////////////////////////////////////////////////////////////////// */



.homecontainer{
  width: 75%;
  position: relative;
  left: -120px;
  margin: 80px auto 0;
}

.homecontainer .slids{
  width: 100%;
  height: 250px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px;
  gap: 12px;
}

.homecontainer .slids::-webkit-scrollbar {
  width: 10px;
}

.homecontainer .slids div{
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  scroll-snap-align: start;
  border-radius: 7px;
}

.homecontainer .slids div img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}


/* /////////////////////////////////////////////////////////////////////// */


.homecontainer .papular{
  width: 100%;
  margin-top: 40px;
  direction: rtl;
}

.homecontainer .papular .papulartitle{
  width: 100%;
  margin-bottom: 10px;
}

.homecontainer .papular .papulartitle h3{
  width: 100%;
  color: #374151;
  font-size: 23px;
}

.homecontainer .papular .papulartitle div{
  display: flex;
  justify-content: space-between;
}

.homecontainer .papular .papulartitle div p{
  color: #b3868e;
  font-size: 16px;
}

.homecontainer .papular .papulartitle div a{
  color: #1976d2;
  font-size: 15px;
  text-decoration: none;
}

.homecontainer .papular .papularslids{
  width: 100%;
}



.homecontainer .papular .child{
  border-radius: 15px;
  background-color: #FFF;
  margin: 0 10px;
  min-height: 330px;
  direction: rtl;
}

.homecontainer .papular .child a{
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.homecontainer .papular .child a .imgslid{
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.homecontainer .papular .child a .middle{
  padding: 0 5px;
}

.homecontainer .papular .child a .middle p {
  color: #6f7583;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 590;
  padding: 0 7px;
}

.homecontainer .papular .child a .middle .locationgyminfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
  margin: 10px 0;
}

.homecontainer .papular .child a .middle .locationgyminfo span{
  color: #6f7583;
}

.homecontainer .papular .child a .middle .locationgyminfo .locationgym{
  display: flex;
  align-items: center;
}

.homecontainer .papular .child a .middle .locationgyminfo .locationgym img{
  width: 12px;
  height: 13px;
  margin-bottom: 0px;
  margin-left: 3px;
}

.homecontainer .papular .child a .middle .locationgyminfo span img{
  width: 16px;
  height: 16px;
  margin: 0 2px;
  margin-bottom: 0px;
}


.homecontainer .papular .child a .middle ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.homecontainer .papular .child a .middle ul li{
  color: #a0a5ae;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.homecontainer .papular .child a .middle ul li img{
  width: 14px;
  height: 14px;
  margin-bottom: -4px;
}

.homecontainer .papular .child a .reserved{
  width: 94%;
  margin: 10px auto 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding-top: 9px;
  color: #7b939e;
}





/* //////////////////////////////////////////////////////////////////////////// */




.homecontainer .imglink{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.homecontainer .imglink a{
  width: 49%;
}

.homecontainer .imglink a img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 5px 1px #ccc;
}




/* /////////////////////////////////////////////////////////////////////////////// */



/* 
.homecontainer .seen{
  width: 100%;
  margin-top: 40px;
}

.homecontainer .seen .seentitle{
  width: 100%;
  margin-bottom: 10px;
}

.homecontainer .seen .seentitle h3{
  width: 100%;
  color: #374151;
  font-size: 23px;
}

.homecontainer .seen .seentitle div{
  display: flex;
  justify-content: space-between;
}

.homecontainer .seen .seentitle div p{
  color: #b3868e;
  font-size: 16px;
}

.homecontainer .seen .seentitle div a{
  color: #1976d2;
  font-size: 15px;
  text-decoration: none;
}

.homecontainer .seen .seenslids{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.homecontainer .seen .child{
  min-width: 20%;
  max-height: 300px;
  margin: 0 12px;
  border-radius: 15px;
  background-color: #FFF;
}

.homecontainer .seen .child a{
  text-decoration: none;
  width: 100%;
}
.homecontainer .seen .child a img{
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
}

.homecontainer .seen .child a .middle{
  padding: 0 5px;
}

.homecontainer .seen .child a .middle p {
  color: #6f7583;
  font-size: 18px;
  font-weight: 590;
  padding: 0 7px;
}

.homecontainer .seen .child a .middle .locationgyminfo{
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  margin: 7px 0;
}

.homecontainer .seen .child a .middle .locationgyminfo span{
  color: #6f7583;
}

.homecontainer .seen .child a .middle .locationgyminfo span img{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.homecontainer .seen .child a .middle .locationgyminfo .locationgym img{
  width: 12px;
  height: 13px;
  margin-left: 3px;
}

.homecontainer .seen .child a .middle ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.homecontainer .seen .child a .middle ul li img{
  width: 14px;
  height: 14px;
  margin-bottom: -4px;
}

.homecontainer .seen .child a .middle ul li{
  color: #a0a5ae;
  font-size: 12px;
}

.homecontainer .seen .child a .reserved{
  width: 94%;
  margin: 10px auto 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding-top: 9px;
  color: #7b939e;
} */




/* ////////////////////////////////////////////////////////////////////////// */




/* .homecontainer .pool{
  width: 100%;
  margin-top: 40px;
}

.homecontainer .pool .pooltitle{
  width: 100%;
  margin-bottom: 10px;
}

.homecontainer .pool .pooltitle h3{
  width: 100%;
  color: #374151;
  font-size: 23px;
}

.homecontainer .pool .pooltitle div{
  display: flex;
  justify-content: space-between;
}

.homecontainer .pool .pooltitle div p{
  color: #b3868e;
  font-size: 16px;
}


.homecontainer .pool .poolslids{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.homecontainer .pool .poolslids div a{
  color: #1976d2;
  font-size: 15px;
  text-decoration: none;
}

.homecontainer .pool .child{
  min-width: 20%;
  max-height: 300px;
  margin: 0 12px;
  border-radius: 15px;
  background-color: #FFF;
}

.homecontainer .pool .child a{
  text-decoration: none;
  width: 100%;
}
.homecontainer .pool .child a img{
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
}

.homecontainer .pool .child a .middle{
  padding: 0 5px;
}

.homecontainer .pool .child a .middle p {
  color: #6f7583;
  font-size: 18px;
  font-weight: 590;
  padding: 0 7px;
}

.homecontainer .pool .child a .middle .locationgyminfo{
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  margin: 7px 0;
}

.homecontainer .pool .child a .middle .locationgyminfo span{
  color: #6f7583;
}

.homecontainer .pool .child a .middle .locationgyminfo span img{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.homecontainer .pool .child a .middle .locationgyminfo .locationgym img{
  width: 12px;
  height: 13px;
  margin-left: 3px;
}

.homecontainer .pool .child a .middle ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.homecontainer .pool .child a .middle ul li img{
  width: 14px;
  height: 14px;
  margin-bottom: -4px;
}

.homecontainer .pool .child a .middle ul li{
  color: #a0a5ae;
  font-size: 12px;
}

.homecontainer .pool .child a .reserved{
  width: 94%;
  margin: 10px auto 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding-top: 9px;
  color: #7b939e;
} */




/* /////////////////////////////////////////////////////////////////////// */



.homecontainer .getapp {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: #4b5563;
  border-radius: 10px;
  margin: 30px 0;
}

.homecontainer .getapp h3{
  font-size: 30px;
  color: #fff;
  width: 47%;
}

.homecontainer .getapp h3 img{
  width: 40px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.homecontainer .getapp div{
  display: flex;
  justify-content: end;
  width: 50%;
}

.homecontainer .getapp div a{
  background-color: #FFF;
  padding: 8px 0;
  min-width: 140px;
  border-radius: 5px;
  text-decoration: none;
  color: #4b5563;
  font-size: 16px;
  margin: 0 5px;
}

.homecontainer .getapp div a img{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
}



/* //////////////////////////////////////////////////////////////////////// */



/* .homecontainer .football{
  width: 100%;
  margin-top: 40px;
}

.homecontainer .football .footballtitle{
  width: 100%;
  margin-bottom: 10px;
}

.homecontainer .football .pooltfootballtitleitle h3{
  width: 100%;
  color: #374151;
  font-size: 23px;
}

.homecontainer .football .footballtitle div{
  display: flex;
  justify-content: space-between;
}

.homecontainer .football .footballtitle div p{
  color: #b3868e;
  font-size: 16px;
}


.homecontainer .football .footballslids{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.homecontainer .football .footballslids div a{
  color: #1976d2;
  font-size: 15px;
  text-decoration: none;
}

.homecontainer .football .child{
  min-width: 20%;
  max-height: 300px;
  margin: 0 12px;
  border-radius: 15px;
  background-color: #FFF;
}

.homecontainer .football .child a{
  text-decoration: none;
  width: 100%;
}
.homecontainer .football .child a img{
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
}

.homecontainer .football .child a .middle{
  padding: 0 5px;
}

.homecontainer .football .child a .middle p {
  color: #6f7583;
  font-size: 18px;
  font-weight: 590;
  padding: 0 7px;
}

.homecontainer .football .child a .middle .locationgyminfo{
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  margin: 7px 0;
}

.homecontainer .football .child a .middle .locationgyminfo span{
  color: #6f7583;
}

.homecontainer .football .child a .middle .locationgyminfo span img{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.homecontainer .football .child a .middle .locationgyminfo .locationgym img{
  width: 12px;
  height: 13px;
  margin-left: 3px;
}

.homecontainer .football .child a .middle ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.homecontainer .football .child a .middle ul li img{
  width: 14px;
  height: 14px;
  margin-bottom: -4px;
}

.homecontainer .football .child a .middle ul li{
  color: #a0a5ae;
  font-size: 12px;
}

.homecontainer .football .child a .reserved{
  width: 94%;
  margin: 10px auto 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding-top: 9px;
  color: #7b939e;
} */

/* //////////////////////////////////////////////////////////////////////// */

/* .aboutcontent {
  width: 60%;
  background-color: #fff;
  padding: 15px 20px;
  margin: 105px auto 40px;
  line-height: 2.5;
  border-radius: 5px;
}

.aboutcontent h3 {
  font-size: 28px;
}

.aboutcontent p {
  font-size: 18px;
} */




/* //////////////////////////////////////////////////////////////////// */

footer {
  background-color: #fff;
  width: 100%;
  margin-top: 70px;
  position: relative;
  bottom: 0;
}

footer .aboutlink {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;
}

footer .aboutlink div {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease;
  margin: 0 15px;
}
footer .aboutlink div:hover {
  background-color: #ddd;
}

footer .aboutlink div a img {
  width: 20px;
}

footer p {
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  color: #777;
}

footer .risbuttons {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 67px;
  background-color: #efefef;
  display: none;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 -1px 3px 3px #eee;
}

footer .risbuttons a img {
  width: 20px;
}

/* ////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1230px){

  /* .homecontainer .papular .child{
    min-width: 23%;
    min-height: 300px;
  }

} */

@media screen and (max-width: 1020px){

  header .contentheader .items button {
    display: block;
  }

  .lists{
    display: none;
  }

  #liststwo{
    display: block;
  }  

  .homecontainer{
    width: 90%;
    left: -0px;
    margin: 80px auto 0;
  }

  /* .homecontainer .papular .child{
    min-width: 22%;
    min-height: 300px;
  }
  .homecontainer .seen .child{
    min-width: 22%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 22%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 22%;
    min-height: 300px;
  } */

}

/* @media screen and (max-width: 890px){

  .homecontainer .papular .child{
    min-width: 25%;
    min-height: 300px;
  }

  .homecontainer .seen .child{
    min-width: 25%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 25%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 25%;
    min-height: 300px;
  }

} */

/* @media screen and (max-width: 785px){

  .homecontainer .papular .child{
    min-width: 33%;
    min-height: 300px;
  }

  .homecontainer .seen .child{
    min-width: 33%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 33%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 33%;
    min-height: 300px;
  }

} */



@media screen and (max-width: 750px){

  .homecontainer .getapp{
    flex-direction: column;
    padding-bottom: 10px;
  }

  .homecontainer .getapp h3{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .homecontainer .getapp div{
    justify-content: center;
    width: 100%;
  }

}



/* @media screen and (max-width: 600px){

  .homecontainer .papular .child{
    min-width: 38%;
    min-height: 300px;
  }

  .homecontainer .seen .child{
    min-width: 38%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 38%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 38%;
    min-height: 300px;
  }

} */

@media screen and (max-width: 600px){

  .homecontainer .imglink{
    flex-direction: column;
  }
  
  .homecontainer .imglink a{
    width: 100%;
    margin-bottom: 10px;
  }
  
  .homecontainer .imglink a img{
    border-radius: 15px;
  }

  /* .homecontainer .papular .child{
    min-width: 40%;
    min-height: 300px;
  }

  .homecontainer .seen .child{
    min-width: 40%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 40%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 40%;
    min-height: 300px;
  } */

}

/* @media screen and (max-width: 480px){

  .homecontainer .papular .child{
    min-width: 46%;
    min-height: 300px;
  }

  .homecontainer .seen .child{
    min-width: 46%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 46%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 46%;
    min-height: 300px;
  }

} */

@media screen and (max-width: 420px){

  /* .homecontainer .papular .child{
    min-width: 60%;
    min-height: 300px;
  }

  .homecontainer .seen .child{
    min-width: 60%;
    min-height: 300px;
  }
  .homecontainer .pool .child{
    min-width: 60%;
    min-height: 300px;
  }
  .homecontainer .football .child{
    min-width: 60%;
    min-height: 300px;
  } */

  .homecontainer .getapp h3{
    font-size: 22px;
  }
  
  .homecontainer .getapp h3 img{
    width: 30px;
    margin-bottom: -10px;
    margin-left: 10px;
  }
  
  .homecontainer .getapp div a{
    min-width: 130px;
    font-size: 14px;
  }

}

@media screen and (max-width: 325px){

  .homecontainer .papular .papulartitle h3{
    font-size: 20px;
  }
  .homecontainer .papular .papulartitle div p{
    font-size: 14px;
  }
  .homecontainer .papular .papulartitle div a{
    font-size: 12px;
  }
  /* .homecontainer .papular .child{
    min-width: 70%;
    min-height: 300px;
  } */

  .homecontainer .seen .seentitle h3{
    font-size: 20px;
  }
  .homecontainer .seen .seentitle div p{
    font-size: 14px;
  }

  .homecontainer .seen .seentitle div a{
    font-size: 12px;
  }
  /* .homecontainer .seen .child{
    min-width: 70%;
    min-height: 300px;
  } */

  .homecontainer .pool .pooltitle h3{
    font-size: 20px;
  }
  .homecontainer .pool .pooltitle div p{
    font-size: 14px;
  }

  .homecontainer .pool .pooltitle div a{
    font-size: 12px;
  }
  /* .homecontainer .pool .child{
    min-width: 70%;
    min-height: 300px;
  } */
  
  .homecontainer .football .footballtitle h3{
    font-size: 20px;
  }
  .homecontainer .football .footballtitle div p{
    font-size: 14px;
  }

  .homecontainer .football .footballtitle div a{
    font-size: 12px;
  }
  /* .homecontainer .football .child{
    min-width: 70%;
    min-height: 300px;
  } */

  .homecontainer .getapp div a{
    min-width: 110px;
    font-size: 13px;
  }

}




@media screen and (max-width: 1100px) {

  
  header .contentheader .items {
    width: 280px;
  }
  
  header .contentheader .search {
    width: 68%;
  }
  
  header .contentheader .search form {
    width: 67%;
  }
  
  header .contentheader .login {
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  footer .risbuttons {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 790px) {
  header .contentheader .items {
    width: 70%;
    display: flex;
    align-items: center;
  }
  
  header .contentheader .items button {
    font-size: 14px;
  }
  
  header .contentheader .items a {
    display: none;
  }
  
  header .contentheader .items .fav {
    display: block;
  }
  header .contentheader .items .fav img{
    margin-bottom: -10px;
  }

  header .contentheader .search {
    display: none;
  }

  header .contentheader .login button {
    display: none;
  }

  header .contentheader .login {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header .contentheader .login .btnform{
    display: flex;
  }
}


/* ////////////////////////////////////////////////////////////////////////// */



@media screen and (max-width: 420px){

  header .contentheader .items {
    width: 60%;
  }

  header .contentheader .items button {
    padding: 6px 6px 9px;
  }
  header .contentheader .items button img{
    width: 15px;
    margin-bottom: -4px;
  }

  header .contentheader .items .fav img {
    width: 33px;
    margin-bottom: -10px;
  }

  header .contentheader .login {
    width: 40%;
  }

  header .contentheader .login .btnform {
    height: 33px;
    width: 33px;
  }
  
  header .contentheader .login .btnform img{
    margin-left: 0;
  }
  
  
  header .contentheader .login a {
    padding: 2px 11px 5px;
    font-size: 15px;
  }
  
  header .contentheader .login a img {
    width: 19px;
  }

  .lists{
    width: 190px;
    top: 0px;
    animation-name: comlist;
    animation-duration: .5s;
  }
  
  @keyframes comlist {
    from {right: -200px;}
    to {right: 0;}
  }

  .lists ul li img{
    width: 17px;
  }
  .lists ul li a img{
    margin-bottom: -5px;
  }

  footer p {
    font-size: 17px;
  }
}